@model IEnumerable<ShareYourNote.Entities.Note>

@{
    ViewBag.Title = "Index";
}

<div class="container ">
    <h2>Notlarım</h2>

    <p>
        @Html.ActionLink("Yeni Not Oluştur", "Create", null, new { @class = "btn btn-sm btn-primary" })
    </p>
    <table class="table text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedFile)
            </th>

            <th>
                @Html.DisplayName("Onay Durumu")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OlmayanOgretmen)
            </th>
            <th style="width: 200px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedFile)
                </td>
                <td>
                    @if (item.IsApproved)
                    {
                        <span class="badge badge-pill badge-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>

                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OlmayanOgretmen)
                </td>
                <td>
                    @Html.ActionLink("İncele", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Duzenle", "AdminEdit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>